.profile {
    padding: 10px;
}

.profile-heading {
    text-align: center;
}

.profile-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
}

.profile-adjacent-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.profile-hr {
    background-color: #fff;
    padding: 0;
    margin: 40px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.profile form {
    padding: 1.5rem 2rem;
}

.profile input {
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
}

.profile textarea {
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    width: 700px;
}

.profile input:read-only {
    border-color: grey !important;
    color: gray;
    cursor: not-allowed;
}

.profile input:valid {
    border-color: #2eec96;
    background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.profile textarea:valid {
    border-color: #2eec96;
    background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.profile textarea:invalid {
    border-color: red;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.profile input:invalid {
    border-color: red;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.profile input:invalid:focus {
    border-color: red;
}

.update-profile-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-profile-btn input:hover {
    cursor: pointer;
}