@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.chatroom-members {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    /*  overflow-y: scroll;
    border-left: 3px solid #fafafa; */
}


.chatroom-members-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px auto;
    margin-top: 30px;
}

.chatroom-members a {
    text-decoration: none;
}

.chatroom-member-container {
    /* border-bottom: 1px solid #e6e6e6 ; */
    /* padding-bottom: 10px; */
    position: relative;
}

.chatroom-member {
    color: #333333;
    min-width: 200px;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6 ;

}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.make-admin-btn-hide {
    display: none;
}

.make-admin-btn-show {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFC300;
    width: 80px;
    padding: 4px 4px;
    font-size: 11px;
    margin: auto;
    position: relative;
    bottom: 36px;
    left: 78px;
}