*:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.form-error {
    color: red;
    text-align: center;
}

.cont input, .cont button {
    border: none;
    outline: none;
    background: none;
}
  
.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 90vh;
    background: #fff;
}
  
.cont .form {
    position: relative;
    width: 800px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    /* padding: 50px 30px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cont .sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    transform: translate3d(-640px, 0, 0);
}
  
.cont button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
  
.cont .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    /* padding-top: 360px; */
    display: flex;
    align-items: space-around;
}

.cont .img:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}

.cont .img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cont .cont.s--signup .img:before {
    transform: translate3d(640px, 0, 0);
}

.cont .img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
}

.cont .img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.cont .img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
    transform: translateX(520px);
}

.cont .img__text.m--in {
    transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
    transform: translateX(0);
}

.cont .img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    margin-top: 50vh;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.cont .img__btn:after {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.cont .img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}

.cont .img__btn span.m--in {
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
    transform: translateY(72px);
}
  
.cont h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}
  
.cont label {
    display: block;
    width: 300px;
    margin: 25px auto 0;
    text-align: center;
}

.cont label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}
  
.cont input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
  
.cont .forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}
  
.cont .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
}
  
.cont .fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}

.cont .fb-btn span {
    font-weight: bold;
    color: #455a81;
}
  
.cont .sign-in {
    transition-timing-function: ease-out;
    padding-right: 20vw;
}

.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px, 0, 0);
}
  
.cont .sign-up {
    transform: translate3d(-900px, 0, 0);
}

.cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
}
  
.cont .icon-link img {
    width: 100%;
    vertical-align: top;
}


/* Google Color */

.google-text-1 {
    color: #4885ed !important;
}
.google-text-2 {
    color: #db3236 !important;
}
.google-text-3 {
    color: #f4c20d	 !important;
}
.google-text-4 {
    color: #4885ed !important;
}
.google-text-5 {
    color: #3cba54 !important;
}
.google-text-6 {
    color: #db3236 !important;
}
